*{
	margin: 0;
	padding: 0;
}
.header{
	height: 80px;
	a{
		text-decoration: none;
	}
	ul{
		height:80px;
		border:none;
		li{
			display: inline-block;
			list-style: none;
			padding:0  20px;
			border-box: border-box;
			line-height:80px;
			height:80px;
			
		}
	}
	.logo{
		line-height: 80px;
	    font-size: 28px;
	    float: left;
	    margin-left: 20px;
	    a{
	    	color: #cfb9e0;
	    }
	    font-family: '微软雅黑'
	}
	.navbar{
		margin-right:100px;
	}
	.active a{
		color: #FCA1A1;
	}
}
.floatR{
	float: right;
}
.footer{
	margin-top:100px;
	height: 50px;
    padding-top: 10px;
    color: #706c6c;
    border-top: 1px solid #e5e5e5;
    background-color: #1f1f1f;
 	
}