/* 搜索区 */
.searchWrap{
	position: relative;
	height: 80px;
}
.search{
	width: 40%;
	position: absolute;
	left: 50%;
	margin-left: -20%;
	top:50%;
	margin-top: -20px;
	height: 40px;
	input{
		height: 40px;
		border-radius: 0;
	}
	.input-group-addon{
		background-color: #cfb9e0;
		color: #fff;
		border-radius: 0;
		border-right: none;
		border-left: none;
		padding: 6px 16px;
		cursor: pointer;
	}
}
/* 导航区 */
.nav_bar{
	height: 70px;
    background-color: #fdfbfb;
	ul{
		margin: 0 80px;
		li{
			display: inline-block;
			list-style: none;
			line-height: 70px;
			padding: 0 70px;
			cursor: pointer;
			font-size: 16px;
			text-align: center;
			color: #818181;
    		font-weight: 100;
		}
		li:hover{
			    opacity: .9;
			    color: #fff;
			    background-color: #cfb9e0;

		}
	}
}
/* 轮播区 */
.carousel {
    height: 472px;
    overflow:hidden;
    .item {
	    height: inherit;
	    background-color: #000;
	    img {
		    width: 100%;
		}
	}
	.carousel-caption {
	    z-index: 10;
	}
}

/* 推荐区 */
.recommend{
	width: 100%;
	.maekup{
		margin: 60px 0;
	}
	a{
		margin: 0 auto;
    	display: block;
    	text-align:center;
	}

}
/* 热销区 */
.hot_sale{
	margin-top: 60px;
    width: 100%;
    height: 600px;
	width: 100%;
	.content-img-right {
		float: left;
		width: 50%;
		height: 293px;
	}
	.content-img-left {
		float: left;
		width: 50%;
	}
	.content-lgrid,.content-img-left,.content-rgrid{
		padding:0;
	}
	.content-lgrid{
		width:66.66%;
		.img-box{
			img{
				width:450px;
				height: 290px;
			}
		}
	}
	.content-rgrid {
	    width: 33.334%;
	}
	.content-img-right {
	    padding: 104px 50px 0px;
	    background: #f7f7f7;
	    text-transform: uppercase;
	}
	.img-box, .info-box {
		  display: block;
		  width: 100%;
		  height: 100%;
		  -webkit-transform: scale(1, 1);
		  transform: scale(1, 1);
		  -webkit-transition: all 0.4s ease-in-out;
		  transition: all 0.4s ease-in-out;
		  -webkit-backface-visibility: hidden;
		  backface-visibility: hidden;
		}
		.img-box img, .info-box img {
		  display: block;
		  position: relative;
		  max-width: 100%;
		  max-height: 100%;
		  -webkit-transition: all 0.4s ease-in-out;
		  transition: all 0.4s ease-in-out;
		}

		.img-box {
		  position: relative;
		}

		.info-box {
		  top: 0;
		  left: 0;
		  position: absolute;
		}
		.info-box .info-content {
		  display: block;
		  position: relative;
		  padding: 0%;
		  float: left;
		  left: 50%;
		  top: 50%;
		  position: relative;
		  -webkit-transform: translateX(-50%) translateY(-50%);
		  transform: translateX(-50%) translateY(-50%);
		}
		.content-grid-effect {
			  display: block;
			  position: relative;
			  -webkit-transform: translate3d(0, 0, 0);
			  transform: translate3d(0, 0, 0);
			  -webkit-transition: all 0.6s ease-in-out;
			  transition: all 0.6s ease-in-out;
			  overflow: hidden;
			}
		.content-grid-effect .info-content {
			  z-index: 2 !important;
			  filter: alpha(opacity=0);
			  -wekbit-opacity: 0;
			  -moz-opacity: 0;
			  opacity: 0;
			  -webkit-transition: all 0.5s ease-in-out;
			  transition: all 0.5s ease-in-out;
			}
		.content-grid-effect .img-box:after, .content-grid-effect .img-box:before, .content-grid-effect .info-box:after, .content-grid-effect .info-box:before {
			  content: "";
			  display: block;
			  position: absolute;
			  background-color: rgba(0, 0, 0, 0.5);
			  z-index: 1;
			  -webkit-transition: 0.8s ease-in-out;
			  transition: 0.8s ease-in-out;
			  filter: alpha(opacity=0);
			  -wekbit-opacity: 0;
			  opacity: 0;
			}
		.content-grid-effect.horizontal .img-box:before {
			  top: 0;
			  left: 0;
			  width: 100%;
			  height: 25%;
			  -webkit-transform: rotateX(90deg);
			  transform: rotateX(90deg);
			}
		.content-grid-effect.horizontal .img-box:after {
			  top: 25%;
			  left: 0;
			  width: 100%;
			  height: 25%;
			  -webkit-transform: rotateX(90deg);
			  transform: rotateX(90deg);
			}
		.content-grid-effect.horizontal .info-box:after {
			  top: 50%;
			  left: 0;
			  width: 100%;
			  height: 25%;
			  -webkit-transform: rotateX(90deg);
			  transform: rotateX(90deg);
			}
		.content-grid-effect.horizontal .info-box:before {
			  top: 75%;
			  left: 0;
			  width: 100%;
			  height: calc(25% + 1px);
			  -webkit-transform: rotateX(90deg);
			  transform: rotateX(90deg);
			}
		.content-grid-effect.vertical .img-box:before {
			  top: 0;
			  left: 0;
			  width: 25%;
			  height: 100%;
			  -webkit-transform: rotateY(90deg);
			  transform: rotateY(90deg);
			}
		.content-grid-effect.vertical .img-box:after {
			  top: 0;
			  left: 25%;
			  width: 25%;
			  height: 100%;
			  -webkit-transform: rotateY(90deg);
			  transform: rotateY(90deg);
			}
		.content-grid-effect.vertical .info-box:after {
			  top: 0;
			  left: 50%;
			  width: 25%;
			  height: 100%;
			  -webkit-transform: rotateY(90deg);
			  transform: rotateY(90deg);
			}
		.content-grid-effect.vertical .info-box:before {
			  top: 0;
			  left: 75%;
			  width: calc(25% + 1px);
			  height: 100%;
			  -webkit-transform: rotateY(90deg);
			  transform: rotateY(90deg);
			}
		.content-grid-effect:hover .img-box:after, .content-grid-effect:hover .img-box:before, .content-grid-effect:hover .info-box:after, .content-grid-effect:hover .info-box:before {
			  -webkit-transform: rotateX(0deg);
			  transform: rotateX(0deg);
			  filter: alpha(opacity=100);
			  -wekbit-opacity: 1;
			  -moz-opacity: 1;
			  opacity: 1;
			}
		.content-grid-effect:hover .info-content {
			  filter: alpha(opacity=100);
			  -wekbit-opacity: 1;
			  -moz-opacity: 1;
			  opacity: 1;
			}
		.slow-zoom .img-box {
			  z-index: 0;
			  -webkit-transform: scale(1);
			  transform: scale(1);
			  -webkit-transition: all 2.2s ease-in-out;
			  transition: all 2.2s ease-in-out;
			}
		.slow-zoom:hover .img-box {
			  -webkit-transform: scale(1.5);
			  transform: scale(1.5);
			}
		.slow-zoom {
			  display: block;
			  overflow: hidden;
			  position: relative;
			  -webkit-transform: translate3d(0, 0, 0);
			  transform: translate3d(0, 0, 0);
			}
		.content-img-right h3 {
			    color: #000;
			    font-size: 24px;
			}
		.content-img-right h3 span {
			    color: #ebacb4;
			    display: block;
			    font-size: 51px;
				margin:15px 0;
			}
		.info-content h4 {
			    font-size: 35px;
			    color: #ebacb4;
			    text-transform: uppercase;
			}
		.info-content p {
			    color: #fff;
			    text-align: center;
			    font-size: 26px;
			}
		.info-content a {
			    text-align: center;
			    padding: 10px 22px;
			    color: #fff;
			    font-size: 18px;
			    text-transform: uppercase;
			    text-decoration: none;
			}
		.hvr-outline-out:before {
				border: #ebacb4 solid 2px;
			}
		.hvr-outline-out:hover:before, .hvr-outline-out:focus:before, .hvr-outline-out:active:before {
				top: -6px;
				right: -6px;
				bottom: -6px;
				left: -6px;
			}
		.hvr-outline-out {
			  display: inline-block;
			  vertical-align: middle;
			  -webkit-transform: translateZ(0);
			  transform: translateZ(0);
			  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
			  -webkit-backface-visibility: hidden;
			  backface-visibility: hidden;
			  -moz-osx-font-smoothing: grayscale;
			  position: relative;
			  background: #ebacb4;
			}
		.hvr-outline-out:before {
			  content: '';
			  position: absolute;
			  border: #ebacb4 solid 4px;
			  top: 0;
			  right: 0;
			  bottom: 0;
			  left: 0;
			  -webkit-transition-duration: 0.3s;
			  transition-duration: 0.3s;
			  -webkit-transition-property: top, right, bottom, left;
			  transition-property: top, right, bottom, left;
			}
		.hvr-outline-out:hover:before,.hvr-outline-out:focus:before,.hvr-outline-out:active:before {
			  top: -8px;
			  right: -8px;
			  bottom: -8px;
			  left: -8px;
			}
	}

/* 新品区 */
.new_shopping{
	padding: 60px 0;
	h1{
		span{
			color: #F9840D
		}
	}
	.tab_name{
		text-align: right;
	    width: 1200px;
	    margin: 0 auto;
	    span{
	    	font-family: '微软雅黑';
	    	color: #CFB9E0;
	    	font-weight: 600;
    		font-size: 18px;
    		display: inline-block;
		    padding: 0 0 10px 10px;
		    border-bottom: 3px solid #f7f4f4;
		    letter-spacing: 5px;
	    }
	}
	.tab_title{
		text-align: center;
		margin-top: 30px;
		ul{
			width: 1200px;
			li{
				display: inline-block;
				margin: 0 25px;
				padding: 0 35px 25px 35px;
				text-decoration: none;
				font-size: 18px;
				text-align: center;
				font-weight: 600;
				color: #ccc;
				border-bottom: 2px solid #ccc;
				outline: none;
			}
			li:hover{
				color: #333;
				border-bottom: 2px solid #ebacb4;
			}
			li.active{
				color: #333;
				border-bottom: 2px solid #ebacb4;
			}
		}
	}
	.new_shopping_list .tab_content ul{
			width: 100%;
		    margin: 0 auto;
		    zoom: 1;
		    padding: 0 3%;
	}
	.new_shopping_list .tab_content  li{
		display: inline-block;
		margin: 36px 3% 0 0;
	    width: 22%;
	    height: 443px;
	    background-color: #fff;
	    box-shadow: 0px 0px 15px 0px #D6D6D6;
	}
	.new_shopping_list .tab_content li:nth-of-type(4n){
		margin-right: 0
	}
	.good_img{
		width: 100%;
   		height: 273px;
   		img{
   			width: 100%;
   			height: 273px;
   		}
	}
	.new_shopping_list h3{
		padding: 0 15px;
	    font-size: 17px;
	    color: #363636;
	    line-height: 22px;
	    height: 40px;
	    overflow: hidden;
	    text-decoration: none;
	    a{
	    	color: #363636;
	    }
	}
	.good_price{
		padding: 0 20px;
	    margin-top: 10px;
	    float: left;
	    .now{
    	    font-weight: 700;
		    font-size: 29px;
		    color: #f15467;
	    }
	}
}
