.order_manager{
	margin: 60px 100px;
	.order_info{
		    border: 1px solid #ccc;
		    padding: 30px;
		    height: 200px;
		    margin-top: 100px;
		.title{
			margin-bottom: 50px;
		}
		.order_info_content{
			.tit{
				height: 30px;
				text-align:center;
				border-bottom: 2px solid rgba(45, 167, 224, 0.35);
				p{
					margin-bottom:0;
					color: rgba(45, 167, 224, 0.35);
					font-size: 20px;
					font-weight: 600;
				}
			}
			.con{
				.col-sm-6,.col-sm-3{
					text-align:center;
					height: 100px;
					line-height: 100px;
					margin-bottom: 30px;
				}
				.baby_desc{
					text-overflow: ellipsis;
					overflow: hidden;
					white-space: nowrap;
					color: #818181;
				}
				.baby_price{
					font-weight: 700;
    				font-size: 24px;
    				color: #FF6666;
				}
				.baby_status{
					text-decoration: underline;
				}
				.baby_status.success{
					color: #4CAF50;
				}
				.baby_status.unfinished{
					color:#5FB1E2;
				}
			}
		}
		.btn-confirm{
			    text-decoration: none;
			    background-color: #cfb9e0;
			    color: #fff;
			    font-weight: 600;
			    font-size: 13px;
			    letter-spacing: 2px;
		}
	}
}