<!-- 搜索区 -->
	<div class="searchWrap">
		<div class="input-group search">
				<input type="text" name="search" class="form-control" placeholder="搜索">
				<div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
		</div>
	</div>
<!-- 导航区 -->
	<div class="nav_bar">
		<ul>
			<li ui-sref-active="active_shop" ui-sref="main">首页</li>
			<li ui-sref-active="active_shop" ui-sref="shop_hufu">护肤</li>
			<li ui-sref-active="active_shop" ui-sref="shop_makeup">彩妆</li>
			<li ui-sref-active="active_shop" ui-sref="shop_fashion">时尚</li>
			<li ui-sref-active="active_shop" ui-sref="shop_accesory">配饰</li>
			<li ui-sref-active="active_shop" ui-sref="shop_home">家居</li>
		</ul>
	</div>
	<!-- 	商品内容区 -->
		<div  class="new_shopping">
		
			<div class="new_shopping_list">
				<div class="tab_content">
					<ul>
						<li>
							<div class="good_img">
								<a href="javascript:;"><img src="../images/list_recomend_2/1.jpg"></a>
							</div>
							<h3 class="good_desc" title="倩碧的这款晚霜“质感细腻，没有香精的味道”，“上脸好推，吸收也不错”，有效打击有害的自由基，加强皮肤的屏障，对抗衰老的早期迹象，令皮肤柔软光滑，看起来更年轻，感觉舒适，“早上起来的时候白白净净的”。非常适合极干性至混合干性皮肤。每一个早晨，都是肌肤年轻的开端！">
								<a href="javascript:;">
									“倩碧的这款晚霜“质感细腻，没有香精的味道”，“上脸好推，吸收也不错”，有效打击有害的自由基，加强皮肤的屏障，对抗衰老的早期迹象，令皮肤柔软光滑，看起来更年轻，感觉舒适，“早上起来的时候白白净净的”。非常适合极干性至混合干性皮肤。每一个早晨，都是肌肤年轻的开端！”。
								</a>
							</h3>
							<div class="good_price">
								<span class="now">￥ 478.0</span>
								<!--<span class="origin">¥ 78.0</span>
		            			<span class="discount">(折)</span>-->
							</div>
						</li>
						<li>
							<div class="good_img">
								<a href="javascript:;"><img src="../images/list_recomend_2/4.jpg"></a>
							</div>
							<h3 class="good_desc" title="著名的倩碧护肤三部曲之一，但温和洁肤水因为酒精问题一直被人诟病，其实女盆友说“很多护肤品都有酒精，能帮助收缩毛孔，促进吸收，控油杀菌，而且倩碧的酒精非常安全，连国外的皮肤医生都推荐”，而且作为二次洁面的化妆水，含酒精能更好的帮助清洁毛孔，所以除非是对酒精过敏，不然还是可以放心使用的。“每天晚上用它擦完之后，化妆棉上都会有些发黄黑的东西，效果很明显”，“一整天皮肤都是是湿润润的，丝毫不觉得干燥和油腻，而且角质去除干净后，皮肤暗淡的情况真的是大有改善，太令人惊喜了”。4号适合极油性肌肤，特别适合夏天使用，能很好的控油，清除表皮老化细胞。">
								<a href="javascript:;">
									“著名的倩碧护肤三部曲之一，但温和洁肤水因为酒精问题一直被人诟病，其实女盆友说“很多护肤品都有酒精，能帮助收缩毛孔，促进吸收，控油杀菌，而且倩碧的酒精非常安全，连国外的皮肤医生都推荐”，而且作为二次洁面的化妆水，含酒精能更好的帮助清洁毛孔，所以除非是对酒精过敏，不然还是可以放心使用的。“每天晚上用它擦完之后，化妆棉上都会有些发黄黑的东西，效果很明显”，“一整天皮肤都是是湿润润的，丝毫不觉得干燥和油腻，而且角质去除干净后，皮肤暗淡的情况真的是大有改善，太令人惊喜了”。4号适合极油性肌肤，特别适合夏天使用，能很好的控油，清除表皮老化细胞。”。
								</a>
							</h3>
							<div class="good_price">
								<span class="now">￥ 266.0</span>
								<!--<span class="origin">¥ 78.0</span>
		            			<span class="discount">(折)</span>-->
							</div>
						</li>
						<li>
							<div class="good_img">
								<a href="javascript:;"><img src="../images/list_recomend_2/7.jpg"></a>
							</div>
							<h3 class="good_desc" title="著名的倩碧护肤三部曲之一，但温和洁肤水因为酒精问题一直被人诟病，其实女盆友说“很多护肤品都有酒精，能帮助收缩毛孔，促进吸收，控油杀菌，而且倩碧的酒精非常安全，连国外的皮肤医生都推荐”，而且作为二次洁面的化妆水，含酒精能更好的帮助清洁毛孔，所以除非是对酒精过敏，不然还是可以放心使用的。“每天晚上用它擦完之后，化妆棉上都会有些发黄黑的东西，效果很明显”，“一整天皮肤都是是湿润润的，丝毫不觉得干燥和油腻，而且角质去除干净后，皮肤暗淡的情况真的是大有改善，太令人惊喜了”。4号适合极油性肌肤，特别适合夏天使用，能很好的控油，清除表皮老化细胞。">
								<a href="javascript:;">
									“著名的倩碧护肤三部曲之一，但温和洁肤水因为酒精问题一直被人诟病，其实女盆友说“很多护肤品都有酒精，能帮助收缩毛孔，促进吸收，控油杀菌，而且倩碧的酒精非常安全，连国外的皮肤医生都推荐”，而且作为二次洁面的化妆水，含酒精能更好的帮助清洁毛孔，所以除非是对酒精过敏，不然还是可以放心使用的。“每天晚上用它擦完之后，化妆棉上都会有些发黄黑的东西，效果很明显”，“一整天皮肤都是是湿润润的，丝毫不觉得干燥和油腻，而且角质去除干净后，皮肤暗淡的情况真的是大有改善，太令人惊喜了”。4号适合极油性肌肤，特别适合夏天使用，能很好的控油，清除表皮老化细胞。”。
								</a>
							</h3>
							<div class="good_price">
								<span class="now">￥ 266.0</span>
								<!--<span class="origin">¥ 78.0</span>
		            			<span class="discount">(折)</span>-->
							</div>
						</li>
						<li>
							<div class="good_img">
								<a href="javascript:;"><img src="../images/list_recomend_2/10.jpg"></a>
							</div>
							<h3 class="good_desc" title="它，可以做晚霜、精华、 面膜、按摩霜、唇霜、眼霜！这个产品的瓶口很贴心地有透明的保护套，挤出来是蓝色半透明质地的乳液，“挤到手上会水化沿着手指往下滑”，“特别容易擦开”，“抹在脸上很细腻，感觉很快就被皮肤吸收了”，起到补水保湿的效果，“皮肤干的时候我拿它当睡眠面膜使用，保湿效果杠杠的”，“感觉像是在皮肤表面树起了一层滋润的膜，但是又不会闷住皮肤无法呼吸”。“味道也好闻”，而且“性价比很高”！适用于所有肤质。">
								<a href="javascript:;">
									“它，可以做晚霜、精华、 面膜、按摩霜、唇霜、眼霜！这个产品的瓶口很贴心地有透明的保护套，挤出来是蓝色半透明质地的乳液，“挤到手上会水化沿着手指往下滑”，“特别容易擦开”，“抹在脸上很细腻，感觉很快就被皮肤吸收了”，起到补水保湿的效果，“皮肤干的时候我拿它当睡眠面膜使用，保湿效果杠杠的”，“感觉像是在皮肤表面树起了一层滋润的膜，但是又不会闷住皮肤无法呼吸”。“味道也好闻”，而且“性价比很高”！适用于所有肤质。”。
								</a>
							</h3>
							<div class="good_price">
								<span class="now">￥ 266.0</span>
								<!--<span class="origin">¥ 78.0</span>
		            			<span class="discount">(折)</span>-->
							</div>
						</li>
						<li>
							<div class="good_img">
								<a href="javascript:;"><img src="../images/list_recomend_2/13.jpg"></a>
							</div>
							<h3 class="good_desc" title="有色面霜可以修饰肤色不均的情况， 同时提供紫外线防护。质地细致薄透并含护肤成分，就像只是轻轻多涂了一层乳液一般，感觉就像没上妆一样，但是却有很好的修饰肤色效果。产品本身有滋润效果，让你的肤色尽量贴近自然肤色，薄透自然却拥有遮暇力。女盆友说“混油无压力，上脸自然又滋润”，“不氧化！不变色！不跳 Tone”，“LM在我用过的为数不多的染色面霜和滋润型BB霜中，已经是战斗机一般的存在了">
								<a href="javascript:;">
									“有色面霜可以修饰肤色不均的情况， 同时提供紫外线防护。质地细致薄透并含护肤成分，就像只是轻轻多涂了一层乳液一般，感觉就像没上妆一样，但是却有很好的修饰肤色效果。产品本身有滋润效果，让你的肤色尽量贴近自然肤色，薄透自然却拥有遮暇力。女盆友说“混油无压力，上脸自然又滋润”，“不氧化！不变色！不跳 Tone”，“LM在我用过的为数不多的染色面霜和滋润型BB霜中，已经是战斗机一般的存在了”。
								</a>
							</h3>
							<div class="good_price">
								<span class="now">￥ 426.0</span>
								<!--<span class="origin">¥ 78.0</span>
		            			<span class="discount">(折)</span>-->
							</div>
						</li>
					</ul>
				</div>
			</div>
	</div>