<!-- 搜索区 -->
	<div class="searchWrap">
		<div class="input-group search">
				<input type="text" name="search" class="form-control" placeholder="搜索">
				<div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
		</div>
	</div>
<!-- 导航区 -->
	<div class="nav_bar">
		<ul>
			<li ui-sref-active="active_shop" ui-sref="main">首页</li>
			<li ui-sref-active="active_shop" ui-sref="shop_hufu">护肤</li>
			<li ui-sref-active="active_shop" ui-sref="shop_makeup">彩妆</li>
			<li ui-sref-active="active_shop" ui-sref="shop_fashion">时尚</li>
			<li ui-sref-active="active_shop" ui-sref="shop_accesory">配饰</li>
			<li ui-sref-active="active_shop" ui-sref="shop_home">家居</li>
		</ul>
	</div>
	<!-- 	商品内容区 -->
		<div  class="new_shopping">
		
			<div class="new_shopping_list">
				<div class="tab_content">
					<ul>
						<li>
							<div class="good_img">
								<a href="javascript:;"><img src="../images/list_recomend/1.jpg"></a>
							</div>
							<h3 class="good_desc" title="出门在外想补个妆或者想自拍时光线却很暗，随身携带一个EMIE美妆镜，“镜子占用空间很小，放在包包里随时可以拿出来使用”，三级LED补光功能，“可以根据光线明暗度选择合适的补光强度”，“终于不用担心自拍时是个黑人了”，高清镜面，“可以照出脸上每一个小细节，化一个精致无死角的妆”，“强迫症患者的福音”">
								<a href="javascript:;">
									“出门在外想补个妆或者想自拍时光线却很暗，随身携带一个EMIE美妆镜，“镜子占用空间很小，放在包包里随时可以拿出来使用”，三级LED补光功能，“可以根据光线明暗度选择合适的补光强度”，“终于不用担心自拍时是个黑人了”，高清镜面，“可以照出脸上每一个小细节，化一个精致无死角的妆”，“强迫症患者的福音”。
								</a>
							</h3>
							<div class="good_price">
								<span class="now">￥ 78.0</span>
								<!--<span class="origin">¥ 78.0</span>
		            			<span class="discount">(折)</span>-->
							</div>
						</li>
						<li>
							<div class="good_img">
								<a href="javascript:;"><img src="../images/list_recomend/4.jpg"></a>
							</div>
							<h3 class="good_desc" title="很多女盆友在选择香水时都会略感不知所措，很难选到心仪的一款，那气味图书馆这款经典Q版的香水礼盒可以带给你跨品类的香氛体验，拥有天使、桂花、雏菊、粉、彩虹、雨滴、东京、热恋、伦敦、黑色10种味道，包含了气味图书馆香水创作的五大经典系列，带给你千变万化的嗅觉体验。">
								<a href="javascript:;">
									“很多女盆友在选择香水时都会略感不知所措，很难选到心仪的一款，那气味图书馆这款经典Q版的香水礼盒可以带给你跨品类的香氛体验，拥有天使、桂花、雏菊、粉、彩虹、雨滴、东京、热恋、伦敦、黑色10种味道，包含了气味图书馆香水创作的五大经典系列，带给你千变万化的嗅觉体验。”。
								</a>
							</h3>
							<div class="good_price">
								<span class="now">￥ 338.0</span>
								<!--<span class="origin">¥ 78.0</span>
		            			<span class="discount">(折)</span>-->
							</div>
						</li>
						<li>
							<div class="good_img">
								<a href="javascript:;"><img src="../images/list_recomend/7.jpg"></a>
							</div>
							<h3 class="good_desc" title="半夜醒来有束温暖的灯光是很幸福的事情，这款氛围灯一拍就亮，三级可调节光源，轻触即可变换，光线柔和不刺眼。圆润的造型忍不住想要摸一下，无按键无棱角的设计是为了在使用时让有宝宝的家庭避免受到不必要的伤害，给家人多角度的贴心保护，它轻盈小巧还防水，脏了可以直接用清水清洗哦，一次充电可长达6小时照明，怕黑的女盆友可以开着小夜灯睡觉啦，还有涟漪般的感应式无线充电底座，只需把小夜灯往上面一放即可充电，处处体现了设计者的用心。">
								<a href="javascript:;">
									“半夜醒来有束温暖的灯光是很幸福的事情，这款氛围灯一拍就亮，三级可调节光源，轻触即可变换，光线柔和不刺眼。圆润的造型忍不住想要摸一下，无按键无棱角的设计是为了在使用时让有宝宝的家庭避免受到不必要的伤害，给家人多角度的贴心保护，它轻盈小巧还防水，脏了可以直接用清水清洗哦，一次充电可长达6小时照明，怕黑的女盆友可以开着小夜灯睡觉啦，还有涟漪般的感应式无线充电底座，只需把小夜灯往上面一放即可充电，处处体现了设计者的用心。”。
								</a>
							</h3>
							<div class="good_price">
								<span class="now">￥ 96.0</span>
								<!--<span class="origin">¥ 78.0</span>
		            			<span class="discount">(折)</span>-->
							</div>
						</li>
						<li>
							<div class="good_img">
								<a href="javascript:;"><img src="../images/list_recomend/10.jpg"></a>
							</div>
							<h3 class="good_desc" title="很多女盆友涂保养品不能很好的吸收，莱克24k黄金美容棒就能很好帮到女盆友，真正24k纯金烤镀，HC-FM101通过振动释放大量黄金负离子，刺激真皮层分泌更多胶原蛋白，提拉轮廓，紧致、嫩滑皮肤，配合着眼霜、面膜一起用吸收效果好，敏感肌也不怕。每分钟6000次高频振动，深层激活肌肤细胞活力， 360°防水设计，泡澡时也能安心使用，还有收纳袋放便女盆友外出携带">
								<a href="javascript:;">
									“很多女盆友涂保养品不能很好的吸收，莱克24k黄金美容棒就能很好帮到女盆友，真正24k纯金烤镀，HC-FM101通过振动释放大量黄金负离子，刺激真皮层分泌更多胶原蛋白，提拉轮廓，紧致、嫩滑皮肤，配合着眼霜、面膜一起用吸收效果好，敏感肌也不怕。每分钟6000次高频振动，深层激活肌肤细胞活力， 360°防水设计，泡澡时也能安心使用，还有收纳袋放便女盆友外出携带。”。
								</a>
							</h3>
							<div class="good_price">
								<span class="now">￥ 56.0</span>
								<!--<span class="origin">¥ 78.0</span>
		            			<span class="discount">(折)</span>-->
							</div>
						</li>
						<li>
							<div class="good_img">
								<a href="javascript:;"><img src="../images/list_recomend/13.jpg"></a>
							</div>
							<h3 class="good_desc" title="爱生活爱健康的女盆友们肯定不会错过各种好渴的果汁！SKG这款果汁机使用方便，打好果汁秒变果汁杯。适用低温环境和冰箱，又能耐高温。无色素、无异味，宝宝可直接饮用哦！底部标有不含双酚标准，用得放心。各种奶昔、果汁、辅食一键搞定，想喝就喝。杯体可拆，方便清洗，用水一冲就OK。双杯设计随心选择，密封严实，滴水不漏，打好果汁，拧上瓶盖即可带走！">
								<a href="javascript:;">
									“爱生活爱健康的女盆友们肯定不会错过各种好渴的果汁！SKG这款果汁机使用方便，打好果汁秒变果汁杯。适用低温环境和冰箱，又能耐高温。无色素、无异味，宝宝可直接饮用哦！底部标有不含双酚标准，用得放心。各种奶昔、果汁、辅食一键搞定，想喝就喝。杯体可拆，方便清洗，用水一冲就OK。双杯设计随心选择，密封严实，滴水不漏，打好果汁，拧上瓶盖即可带走！”。
								</a>
							</h3>
							<div class="good_price">
								<span class="now">￥ 102.0</span>
								<!--<span class="origin">¥ 78.0</span>
		            			<span class="discount">(折)</span>-->
							</div>
						</li>
						<li>
							<div class="good_img">
								<a href="javascript:;"><img src="../images/list_recomend/16.jpg"></a>
							</div>
							<h3 class="good_desc" title="每到情人节或生日送个别出心裁的礼物可不是一个省心的事儿，DR Design的香皂花束礼盒限定款光看包装就很体面，同时也非常实用，忙碌了一天，摘一片花瓣放在热水里，好好地泡个脚或者洒在浴缸内舒舒服服泡个澡，淡淡地花香不刺鼻，给身体做一个简单的小SPA，疲劳一扫而去。花朵内含保湿因子和植物精油，遇水可以完全融化，非常轻盈柔软~PH值为中性，所使用的原料为天然食品，无毒安全。绝对是给女票和闺蜜的送礼首选哟~">
								<a href="javascript:;">
									“每到情人节或生日送个别出心裁的礼物可不是一个省心的事儿，DR Design的香皂花束礼盒限定款光看包装就很体面，同时也非常实用，忙碌了一天，摘一片花瓣放在热水里，好好地泡个脚或者洒在浴缸内舒舒服服泡个澡，淡淡地花香不刺鼻，给身体做一个简单的小SPA，疲劳一扫而去。花朵内含保湿因子和植物精油，遇水可以完全融化，非常轻盈柔软~PH值为中性，所使用的原料为天然食品，无毒安全。绝对是给女票和闺蜜的送礼首选哟~”。
								</a>
							</h3>
							<div class="good_price">
								<span class="now">￥ 99.0</span>
								<!--<span class="origin">¥ 78.0</span>
		            			<span class="discount">(折)</span>-->
							</div>
						</li>
						<li>
							<div class="good_img">
								<a href="javascript:;"><img src="../images/list_recomend/19.jpg"></a>
							</div>
							<h3 class="good_desc" title="每次化妆的时候都很烦恼卧室灯昏黄又暗，自己看镜子里好好地一出门就发现太浓了或者没抹匀”，muiD化妆镜台灯，帮助女盆友“告别光线陷阱~” 它“当化妆镜使用时外圈的光度足够，”“白色光亮度高，化妆时不会出现光线偏差”，“高清看清每一个毛孔~”“日常化妆使用没问题”。触摸开关一碰就能亮，而且180°内“镜子的角度可以随意选择”，“化妆很方便”。翻转到90°位置，它就变身成台灯，“光源比较柔和，”“不会太暗也不会刺眼”，可调的设计，女盆友只要长按着“到自己喜欢的亮度就可以”，“超亮的一档适合看书”，晚上来了情怀写字写文都ok。“底部的搁置盘，可以放点化妆品”或是首饰等小物，女盆友说“太心水了">
								<a href="javascript:;">
									“每次化妆的时候都很烦恼卧室灯昏黄又暗，自己看镜子里好好地一出门就发现太浓了或者没抹匀”，muiD化妆镜台灯，帮助女盆友“告别光线陷阱~” 它“当化妆镜使用时外圈的光度足够，”“白色光亮度高，化妆时不会出现光线偏差”，“高清看清每一个毛孔~”“日常化妆使用没问题”。触摸开关一碰就能亮，而且180°内“镜子的角度可以随意选择”，“化妆很方便”。翻转到90°位置，它就变身成台灯，“光源比较柔和，”“不会太暗也不会刺眼”，可调的设计，女盆友只要长按着“到自己喜欢的亮度就可以”，“超亮的一档适合看书”，晚上来了情怀写字写文都ok。“底部的搁置盘，可以放点化妆品”或是首饰等小物，女盆友说“太心水了”。
								</a>
							</h3>
							<div class="good_price">
								<span class="now">￥ 188.0</span>
								<!--<span class="origin">¥ 78.0</span>
		            			<span class="discount">(折)</span>-->
							</div>
						</li>
						<li>
							<div class="good_img">
								<a href="javascript:;"><img src="../images/list_recomend/22.jpg"></a>
							</div>
							<h3 class="good_desc" title="早上一醒来皮肤干巴巴、头发乱糟糟，头天晚上为了睡个“美容觉”抹得一大堆护肤品精华素全都不奏效，别忙着选择go die，是枕套的问题！普通枕套容易跟皮肤、头发摩擦还会吸收护肤品中的水分。GIGI、Kim一众明星都在用Slip的真丝枕套，“滑溜溜的触感真真是没话说，枕着睡觉幸福感满满”。桑蚕丝质地柔滑，减少睡觉时产生的摩擦，“脸碰着觉得炒鸡舒服”，经常侧睡的小薯，有了它再也不怕压一脸皱纹啦。蚕丝中的丝胶成分能防止螨虫霉菌滋生，氨基酸成分还能滋养肌肤，脸部嫩滑滑头发不毛躁，什么护肤品都不抹也能睡个美容觉！清凉舒适的面料，天热时睡觉也不闷！“枕套特别美，连外包装都很高大上，送人自用都超棒”！">
								<a href="javascript:;">
									“早上一醒来皮肤干巴巴、头发乱糟糟，头天晚上为了睡个“美容觉”抹得一大堆护肤品精华素全都不奏效，别忙着选择go die，是枕套的问题！普通枕套容易跟皮肤、头发摩擦还会吸收护肤品中的水分。GIGI、Kim一众明星都在用Slip的真丝枕套，“滑溜溜的触感真真是没话说，枕着睡觉幸福感满满”。桑蚕丝质地柔滑，减少睡觉时产生的摩擦，“脸碰着觉得炒鸡舒服”，经常侧睡的小薯，有了它再也不怕压一脸皱纹啦。蚕丝中的丝胶成分能防止螨虫霉菌滋生，氨基酸成分还能滋养肌肤，脸部嫩滑滑头发不毛躁，什么护肤品都不抹也能睡个美容觉！清凉舒适的面料，天热时睡觉也不闷！“枕套特别美，连外包装都很高大上，送人自用都超棒”！”。
								</a>
							</h3>
							<div class="good_price">
								<span class="now">￥ 488.0</span>
								<!--<span class="origin">¥ 78.0</span>
		            			<span class="discount">(折)</span>-->
							</div>
						</li>
						<li>
							<div class="good_img">
								<a href="javascript:;"><img src="../images/list_recomend/25.jpg"></a>
							</div>
							<h3 class="good_desc" title="从容优雅的英式情怀，不仅实用，而且增添了生活的情调。杯子可以用来喝花茶，花瓣在杯子里荡漾，与杯子的花纹融为一体，仿佛时间都变慢了。香浓的咖啡味飘散在这伦敦风情的杯子中，更显品位，如此有情调的东东，不管是亲戚结婚还是朋友生日，作为实用而且有颜值的好礼物，选它是很不错的哟~~">
								<a href="javascript:;">
									“从容优雅的英式情怀，不仅实用，而且增添了生活的情调。杯子可以用来喝花茶，花瓣在杯子里荡漾，与杯子的花纹融为一体，仿佛时间都变慢了。香浓的咖啡味飘散在这伦敦风情的杯子中，更显品位，如此有情调的东东，不管是亲戚结婚还是朋友生日，作为实用而且有颜值的好礼物，选它是很不错的哟~~”。
								</a>
							</h3>
							<div class="good_price">
								<span class="now">￥ 59.0</span>
								<!--<span class="origin">¥ 78.0</span>
		            			<span class="discount">(折)</span>-->
							</div>
						</li>
						<li>
							<div class="good_img">
								<a href="javascript:;"><img src="../images/list_recomend/28.jpg"></a>
							</div>
							<h3 class="good_desc" title="爱美的女盆友房间里首饰挂件太多了，需要一个功能强大又高大上的首饰收纳盒才方便自己换装打扮啊！Vlando的欧式首饰收纳盒用优质原材料纯手工制作，它的马卡龙系列收纳盒外型小巧可爱，装满戒指、耳环、锁骨链这类小首饰放在包里带出门，还能根据不同场合变装呢。用过的女盆友都说“做工很精致，质量扛扛”，“颜色非常好看，这么可爱的首饰盒让人少女心爆棚啊">
								<a href="javascript:;">
									“爱美的女盆友房间里首饰挂件太多了，需要一个功能强大又高大上的首饰收纳盒才方便自己换装打扮啊！Vlando的欧式首饰收纳盒用优质原材料纯手工制作，它的马卡龙系列收纳盒外型小巧可爱，装满戒指、耳环、锁骨链这类小首饰放在包里带出门，还能根据不同场合变装呢。用过的女盆友都说“做工很精致，质量扛扛”，“颜色非常好看，这么可爱的首饰盒让人少女心爆棚啊”。
								</a>
							</h3>
							<div class="good_price">
								<span class="now">￥ 58.0</span>
								<!--<span class="origin">¥ 78.0</span>
		            			<span class="discount">(折)</span>-->
							</div>
						</li>
						<li>
							<div class="good_img">
								<a href="javascript:;"><img src="../images/list_recomend/31.jpg"></a>
							</div>
							<h3 class="good_desc" title="健身或者沐浴之后，需要一块浴巾来擦水擦汗了。日本p·o·a·c的条纹纯棉浴巾，棉质亲肤又舒适，吸水性也非常棒，洗涤之后也很快能够晾干，特别适合喜欢干爽感觉的女盆友。条纹设计非常治愈，三只黑猫的图案也是充满日本风情，备上一条在身边，擦水擦汗都靠它。">
								<a href="javascript:;">
									“健身或者沐浴之后，需要一块浴巾来擦水擦汗了。日本p·o·a·c的条纹纯棉浴巾，棉质亲肤又舒适，吸水性也非常棒，洗涤之后也很快能够晾干，特别适合喜欢干爽感觉的女盆友。条纹设计非常治愈，三只黑猫的图案也是充满日本风情，备上一条在身边，擦水擦汗都靠它。”。
								</a>
							</h3>
							<div class="good_price">
								<span class="now">￥ 85.0</span>
								<!--<span class="origin">¥ 78.0</span>
		            			<span class="discount">(折)</span>-->
							</div>
						</li>
						<li>
							<div class="good_img">
								<a href="javascript:;"><img src="../images/list_recomend/34.jpg"></a>
							</div>
							<h3 class="good_desc" title="说它是牙刷队长简直震惊了，粉金相拼的颜色，队长还以为它是一支口红，颜值那么高简直逼死别的牙刷。松下EW-DS19电动牙刷打破了传统牙刷湿哒哒不好携带的传统，随身带在化妆包里，任何时刻都能用起来。高速声波振动扫荡各种死角，两端突起的刷毛清洁的更干净，背面的舌苔清洁刷还能按摩清洁舌苔，舌苔干净口气才更清新。柔粉色让每个女盆友妹子刷牙也能做个小公举。">
								<a href="javascript:;">
									“说它是牙刷队长简直震惊了，粉金相拼的颜色，队长还以为它是一支口红，颜值那么高简直逼死别的牙刷。松下EW-DS19电动牙刷打破了传统牙刷湿哒哒不好携带的传统，随身带在化妆包里，任何时刻都能用起来。高速声波振动扫荡各种死角，两端突起的刷毛清洁的更干净，背面的舌苔清洁刷还能按摩清洁舌苔，舌苔干净口气才更清新。柔粉色让每个女盆友妹子刷牙也能做个小公举。”。
								</a>
							</h3>
							<div class="good_price">
								<span class="now">￥ 199.0</span>
								<!--<span class="origin">¥ 78.0</span>
		            			<span class="discount">(折)</span>-->
							</div>
						</li>
					</ul>
				</div>
			</div>
	</div>