<!-- 搜索区 -->
	<div class="searchWrap">
		<div class="input-group search">
				<input type="text" name="search" class="form-control" placeholder="搜索">
				<div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
		</div>
	</div>
<!-- 导航区 -->
	<div class="nav_bar">
		<ul>
			<li ui-sref-active="active_shop" ui-sref="main">首页</li>
			<li ui-sref-active="active_shop" ui-sref="shop_hufu">护肤</li>
			<li ui-sref-active="active_shop" ui-sref="shop_makeup">彩妆</li>
			<li ui-sref-active="active_shop" ui-sref="shop_fashion">时尚</li>
			<li ui-sref-active="active_shop" ui-sref="shop_accesory">配饰</li>
			<li ui-sref-active="active_shop" ui-sref="shop_home">家居</li>
		</ul>
	</div>
	<!-- 	商品内容区 -->
		<div  class="new_shopping">
		
			<div class="new_shopping_list">
				<div class="tab_content">
					<ul>
						<li>
							<div class="good_img">
								<a href="javascript:;"><img src="../images/list_recomend_3/1.jpg"></a>
							</div>
							<h3 class="good_desc" title="这支是雅诗兰黛主打浓密的睫毛膏，三种浓密纤维成分融入慕斯底液中，“质感确实很浓密，卷翘度还可以”。浓密的睫毛可以令双眼立即放大，看起来更有神也更有气场，无论是工作场合或是聚会上都必不可少，“用第一次就喜欢上了，浓密效果实打实，定型时间久”，“睫毛膏是好用又回购的，浓密效果超好”。还有维生素滋养成分，让睫毛美美的同时还能吸收养分。# 01黑色打造有神电眼，气场倍增。">
								<a href="javascript:;">
									“这支是雅诗兰黛主打浓密的睫毛膏，三种浓密纤维成分融入慕斯底液中，“质感确实很浓密，卷翘度还可以”。浓密的睫毛可以令双眼立即放大，看起来更有神也更有气场，无论是工作场合或是聚会上都必不可少，“用第一次就喜欢上了，浓密效果实打实，定型时间久”，“睫毛膏是好用又回购的，浓密效果超好”。还有维生素滋养成分，让睫毛美美的同时还能吸收养分。# 01黑色打造有神电眼，气场倍增。”。
								</a>
							</h3>
							<div class="good_price">
								<span class="now">￥ 278.0</span>
								<!--<span class="origin">¥ 78.0</span>
		            			<span class="discount">(折)</span>-->
							</div>
						</li>
						<li>
							<div class="good_img">
								<a href="javascript:;"><img src="../images/list_recomend_3/4.jpg"></a>
							</div>
							<h3 class="good_desc" title="NARS星灿奢华眼影，据说“这一块可以撑起整个眼妆”，因为它有美丽的偏光每个角度看起来都不一样，顺滑好上色，显色度好，用手指往眼皮一抹，“可以波光粼粼，可以温柔动人”。Dione灰棕调，让双眸看起来更深邃神秘，属于低调又女神类型的，珠光超细腻。对于懒癌和手残星人来说“用手指随便抹抹就可以出门”，日光下双眼blingbling，不飞粉，单用或者和其他的颜色叠加都很好">
								<a href="javascript:;">
									“NARS星灿奢华眼影，据说“这一块可以撑起整个眼妆”，因为它有美丽的偏光每个角度看起来都不一样，顺滑好上色，显色度好，用手指往眼皮一抹，“可以波光粼粼，可以温柔动人”。Dione灰棕调，让双眸看起来更深邃神秘，属于低调又女神类型的，珠光超细腻。对于懒癌和手残星人来说“用手指随便抹抹就可以出门”，日光下双眼blingbling，不飞粉，单用或者和其他的颜色叠加都很好”。
								</a>
							</h3>
							<div class="good_price">
								<span class="now">￥ 160.0</span>
								<!--<span class="origin">¥ 78.0</span>
		            			<span class="discount">(折)</span>-->
							</div>
						</li>
						<li>
							<div class="good_img">
								<a href="javascript:;"><img src="../images/list_recomend_3/7.jpg"></a>
							</div>
							<h3 class="good_desc" title="沿袭持久粉底的不脱妆配方，雅诗兰黛这款轻透粉底液更是将无瑕裸肌发挥到极致。轻透粉质，打造持久裸妆，让你的脸整天不泛油，拥有梦寐以求的自然粉嫩娇容，从此只需轻妆上阵，“第一次用的那天30几度，去拜了一天山，到下午只是鼻子出了一层油居然都还没脱妆”。从上妆那一刻起，它就亲和贴服你的娇颜，肌肤感觉舒适透气，粉嫩轻妆了然无痕，“肤色也有了很好的改善，十分自然，并呈现水润光泽感。“脸上只见犹如天生自带的肌肤原色。# 12很适合肤色健康的女盆友们">
								<a href="javascript:;">
									“沿袭持久粉底的不脱妆配方，雅诗兰黛这款轻透粉底液更是将无瑕裸肌发挥到极致。轻透粉质，打造持久裸妆，让你的脸整天不泛油，拥有梦寐以求的自然粉嫩娇容，从此只需轻妆上阵，“第一次用的那天30几度，去拜了一天山，到下午只是鼻子出了一层油居然都还没脱妆”。从上妆那一刻起，它就亲和贴服你的娇颜，肌肤感觉舒适透气，粉嫩轻妆了然无痕，“肤色也有了很好的改善，十分自然，并呈现水润光泽感。“脸上只见犹如天生自带的肌肤原色。# 12很适合肤色健康的女盆友们”。
								</a>
							</h3>
							<div class="good_price">
								<span class="now">￥ 56.0</span>
								<!--<span class="origin">¥ 78.0</span>
		            			<span class="discount">(折)</span>-->
							</div>
						</li>
						<li>
							<div class="good_img">
								<a href="javascript:;"><img src="../images/list_recomend/10.jpg"></a>
							</div>
							<h3 class="good_desc" title="迪奥这支真我EDP是真我系列的经典之作，太适合低调优雅的各名媛女盆友了，“瓶身设计很美丽”，流畅的曲线和长长的脖颈，无一不彰显的女性的优雅高贵。性感的芬芳中融入明艳的花香，精致甜美，以托斯卡纳鸢尾花作为中调，是真我原版基础上，更馥郁厚重的香气，更能体现真我的独特风采，“适合性感成熟的大女人”~喷在身上立刻化作一层芬芳的柔纱包裹全身，散发着独一无二的气质和光芒。自然洒脱的做率性的自己吧~">
								<a href="javascript:;">
									“迪奥这支真我EDP是真我系列的经典之作，太适合低调优雅的各名媛女盆友了，“瓶身设计很美丽”，流畅的曲线和长长的脖颈，无一不彰显的女性的优雅高贵。性感的芬芳中融入明艳的花香，精致甜美，以托斯卡纳鸢尾花作为中调，是真我原版基础上，更馥郁厚重的香气，更能体现真我的独特风采，“适合性感成熟的大女人”~喷在身上立刻化作一层芬芳的柔纱包裹全身，散发着独一无二的气质和光芒。自然洒脱的做率性的自己吧~”。
								</a>
							</h3>
							<div class="good_price">
								<span class="now">￥ 964.0</span>
								<!--<span class="origin">¥ 78.0</span>
		            			<span class="discount">(折)</span>-->
							</div>
						</li>
						<li>
							<div class="good_img">
								<a href="javascript:;"><img src="../images/list_recomend/13.jpg"></a>
							</div>
							<h3 class="good_desc" title="Bifesta的王牌产品眼唇卸妆液简直名声在外，化妆的女盆友们一定都人手一瓶。今年新推出的碳酸泡沫洁面，共分为三款，这款蓝色瓶子为去角质型，主打深层清洁毛孔，女盆友说：“按压泵头的设计，出来就是超级浓密的泡沫，像给脸做泡泡浴一样，一级棒！一点也不闷！”“味道是很清新的柚子或者橘子味，早上当做晨间洁面感觉心情都好啦”，“清洁力很赞，多揉搓一会能搓出一些角质~当做卸妆后的二次清洁很舒服”，“基本没毛病的洁面，是一颗不贵好拔的好草！”">
								<a href="javascript:;">
									“Bifesta的王牌产品眼唇卸妆液简直名声在外，化妆的女盆友们一定都人手一瓶。今年新推出的碳酸泡沫洁面，共分为三款，这款蓝色瓶子为去角质型，主打深层清洁毛孔，女盆友说：“按压泵头的设计，出来就是超级浓密的泡沫，像给脸做泡泡浴一样，一级棒！一点也不闷！”“味道是很清新的柚子或者橘子味，早上当做晨间洁面感觉心情都好啦”，“清洁力很赞，多揉搓一会能搓出一些角质~当做卸妆后的二次清洁很舒服”，“基本没毛病的洁面，是一颗不贵好拔的好草！””。
								</a>
							</h3>
							<div class="good_price">
								<span class="now">￥ 48.0</span>
								<!--<span class="origin">¥ 78.0</span>
		            			<span class="discount">(折)</span>-->
							</div>
						</li>
						<li>
							<div class="good_img">
								<a href="javascript:;"><img src="../images/list_recomend_3/16.jpg"></a>
							</div>
							<h3 class="good_desc" title="ETUDE HOUSE伊蒂之屋 致幻花语眼影盘6色眼影防水防汗">
								<a href="javascript:;">
									“ETUDE HOUSE伊蒂之屋 致幻花语眼影盘6色眼影防水防汗”。
								</a>
							</h3>
							<div class="good_price">
								<span class="now">￥ 138.0</span>
								<!--<span class="origin">¥ 78.0</span>
		            			<span class="discount">(折)</span>-->
							</div>
						</li>
					</ul>
				</div>
			</div>
	</div>