<!-- 搜索区 -->
	<div class="searchWrap">
		<div class="input-group search">
				<input type="text" name="search" class="form-control" placeholder="搜索">
				<div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
		</div>
	</div>
<!-- 导航区 -->
	<div class="nav_bar">
		<ul>
			<li ui-sref-active="active_shop" ui-sref="main">首页</li>
			<li ui-sref-active="active_shop" ui-sref="shop_hufu">护肤</li>
			<li ui-sref-active="active_shop" ui-sref="shop_makeup">彩妆</li>
			<li ui-sref-active="active_shop" ui-sref="shop_fashion">时尚</li>
			<li ui-sref-active="active_shop" ui-sref="shop_accesory">配饰</li>
			<li ui-sref-active="active_shop" ui-sref="shop_home">家居</li>
		</ul>
	</div>
	<!-- 	商品内容区 -->
		<div  class="new_shopping">
		
			<div class="new_shopping_list">
				<div class="tab_content">
					<ul>

						<li>
							<div class="good_img">
								<a href="javascript:;"><img src="../images/list_recomend_4/1.jpg"></a>
							</div>
							<h3 class="good_desc" title="破洞九分小脚裤韩版百搭显瘦裤子毛边做旧牛仔裤女潮">
								<a href="javascript:;">
									“破洞九分小脚裤韩版百搭显瘦裤子毛边做旧牛仔裤女潮”。
								</a>
							</h3>
							<div class="good_price">
								<span class="now">￥ 169.0</span>
								<!--<span class="origin">¥ 78.0</span>
		            			<span class="discount">(折)</span>-->
							</div>
						</li>
						<li>
							<div class="good_img">
								<a href="javascript:;"><img src="../images/list_recomend_4/4.jpg"></a>
							</div>
							<h3 class="good_desc" title="2017春装新款上衣韩版五分袖蕾丝衫镂空白色圆领雪纺衫女">
								<a href="javascript:;">
									“2017春装新款上衣韩版五分袖蕾丝衫镂空白色圆领雪纺衫女”。
								</a>
							</h3>
							<div class="good_price">
								<span class="now">￥ 129.0</span>
								<!--<span class="origin">¥ 78.0</span>
		            			<span class="discount">(折)</span>-->
							</div>
						</li>
						<li>
							<div class="good_img">
								<a href="javascript:;"><img src="../images/list_recomend_4/7.jpg"></a>
							</div>
							<h3 class="good_desc" title="2017新款韩版宽松印花体恤衫个性百搭圆领学生短袖t恤女">
								<a href="javascript:;">
									“2017新款韩版宽松印花体恤衫个性百搭圆领学生短袖t恤女”。
								</a>
							</h3>
							<div class="good_price">
								<span class="now">￥ 79.0</span>
								<!--<span class="origin">¥ 78.0</span>
		            			<span class="discount">(折)</span>-->
							</div>
						</li>
						<li>
							<div class="good_img">
								<a href="javascript:;"><img src="../images/list_recomend_4/10.jpg"></a>
							</div>
							<h3 class="good_desc" title="百丽旗下针对年轻女生们的品牌15mins，紧跟潮流的款式有着平价版“Alexander Wang”、“Saint Laurent”等之称，同时价格被红薯们不断称赞“太良心”！仙气十足的芭蕾舞鞋加上可拆卸的格纹绑带，简单干净又透着淡淡的优雅气息，多种穿法随你搭出自己的风格， 一见钟情大概就是它了~">
								<a href="javascript:;">
									“百丽旗下针对年轻女生们的品牌15mins，紧跟潮流的款式有着平价版“Alexander Wang”、“Saint Laurent”等之称，同时价格被红薯们不断称赞“太良心”！仙气十足的芭蕾舞鞋加上可拆卸的格纹绑带，简单干净又透着淡淡的优雅气息，多种穿法随你搭出自己的风格， 一见钟情大概就是它了~”。
								</a>
							</h3>
							<div class="good_price">
								<span class="now">￥ 288.0</span>
								<!--<span class="origin">¥ 78.0</span>
		            			<span class="discount">(折)</span>-->
							</div>
						</li>
						<li>
							<div class="good_img">
								<a href="javascript:;"><img src="../images/list_recomend_4/13.jpg"></a>
							</div>
							<h3 class="good_desc" title="converse 女士 时尚休闲鞋">
								<a href="javascript:;">
									“converse 女士 时尚休闲鞋”
								</a>
							</h3>
							<div class="good_price">
								<span class="now">￥ 150.0</span>
								<!--<span class="origin">¥ 78.0</span>
		            			<span class="discount">(折)</span>-->
							</div>
						</li>
					</ul>
				</div>
			</div>
	</div>